.wrapper_sideBar {
    flex            : 20%;
    background-color: #2A3F54;
    padding         : 0 20px;

    .wrapper_profile_info {
        display: flex;
        padding: 10px 0px;

        .wrapper_profile_title {
            padding-left: 20px;
            align-self  : center;
            flex        : 1;

            h3 {
                font-size: .9rem;
                margin   : 0;
            }

            h3:nth-child(1) {
                font-size     : .8rem;
                color         : #ddd;
                font-weight   : 600;
                letter-spacing: 1.05px;
            }

            h3:nth-child(2) {
                color         : #fff;
                font-weight   : 600;
                letter-spacing: 1.05px;
            }
        }
    }

    .wrapper_menu_section {
        margin-top: 20px;
    }
}