.account {
  height: 100%;
}
.account__title {
  padding: 30px 0;
  text-align: center;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1.2px;
  color: #2a3f54;
  font-size: 20px;
  text-transform: uppercase;
}
.account__container {
  display: flex;
  flex-direction: column;
  margin: 0 5rem 3rem 5rem;
  background-color: #2a3f5449;
  border-radius: 10px;
  padding: 3rem 0;
  max-height: 400px;
  overflow: auto;
  padding: 3rem 5rem;
}

.account__container::-webkit-scrollbar {
  width: 0.8em;
}

.account__container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.account_wrapperInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.account__label {
  font-size: 0.8rem;
  color: #2a3f54;
}
.account__input {
  width: 100%;
  border: 1px solid #63636494;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
}
.account__input--error {
  border-color: red;
}
.account__wrapperCheckBox {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  width: 30rem;
}
.account__checkbox {
  margin-bottom: 1rem;
  color: #2a3f54;
}
.account__checkboxGroup span {
  color: #2a3f54;
}
.account__button {
  align-self: center;
}
