.item {
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	background-color: #fff;
	&:hover {
		cursor: pointer;
		background-color: rgb(252, 252, 252);
	}
	&:active {
		background-color: rgb(255, 255, 255);
	}
}
