.container {
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 100000;
    font-size: 14px;
    padding: 10px;
    min-width: 300px;
    max-width: 350px;
    opacity: 0.8;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid rgb(144, 144, 144);
}

.title {
    text-decoration: underline;
}
