.wrapper_header_navBar {
    background-color: #f7f7f7;
    display         : flex;
    position        : relative;
    justify-content : space-between;

    .wrapper_header_navBarLeft {
        display    : flex;
        align-items: center;
        flex       : 1;

        i {
            color           : #2a3f54;
            margin-left     : 20px;
            background-color: #fff;
            border-radius   : 50%;
            padding         : 10px 12px;
            filter          : drop-shadow(2px 3px 4px #ddd);
            cursor          : pointer;
        }

        h2 {
            padding-left: 30px;
            color       : #2a3f54;
        }
    }

    .wrapper_header_navBarRight {
        display        : flex;
        align-items    : center;
        justify-content: end;
        padding        : 10px 20px;
        cursor         : pointer;

        p {
            padding    : 0 20px 0 10px;
            font-size  : 0.9rem;
            font-weight: 700;
            color      : #2a3f54;
        }

        i {
            color: #2a3f54;
        }
    }

    .wrapper_logout {
        position: absolute;
        right   : 2%;
    }
}