.container {
    height: 90%;

    .wrapperForm {
        width           : 50%;
        margin          : auto;
        padding         : 30px;
        background-color: #fff;
        border-radius   : 10px;
        filter          : drop-shadow(2px 5px 13px #333);
        max-height      : 400px;
        overflow        : auto;

        &::-webkit-scrollbar {
            width: .8em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius   : 10px;
        }

        .wrapper_button {
            display        : flex;
            justify-content: center;

            &>button {
                background-color: #fff;
                border          : none;
                margin          : 20px 0;

                &>a {
                    text-decoration : none;
                    color           : #fff;
                    padding         : 20px 117px;
                    background-color: #2a3f54;
                    text-transform  : uppercase;
                    font-size       : 0.8rem;
                    font-weight     : bold;
                    cursor          : pointer;
                    box-shadow      : -4px -1px 5px rgb(179 179 179 / 90%), 3px 3px 5px rgb(0 0 0 / 50%);
                    border-radius   : 30px;

                    &:visited {
                        color: #fff;
                    }
                }
            }
        }
    }
}