.container_see_detail {
    height  : 100%;
    position: relative;

    h2 {
        padding       : 30px 0;
        text-align    : center;
        font-weight   : 700;
        font-family   : 'Times New Roman', Times, serif;
        letter-spacing: 1.2px;
        color         : #000;
        font-size     : 20px;
        text-transform: uppercase;
    }

    .wrapper_table {
        width           : 90%;
        margin          : auto;
        padding         : 10px;
        max-height      : 400px;
        overflow        : auto;
        background-color: #fff;
        box-shadow      : -4px -1px 5px rgb(179 179 179 / 90%),
            3px 3px 5px rgb(0 0 0 / 50%);
        border-radius: 8px;

        &::-webkit-scrollbar {
            width: .8em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius   : 8px;
        }

        table {
            padding: 20px 30px;
            width  : 100%;

            tbody {

                tr {
                    td:first-child {
                        font-weight: bold;
                    }

                    td {
                        padding      : 10px 20px;
                        border-bottom: 1px solid #ddd;

                        img {
                            height: 25px;
                            width : 25px;
                        }
                    }
                }

                &>tr:last-child {
                    td {
                        border: none
                    }
                }
            }


        }
    }

    .wrapper_button {
        width: 100%;

        .wrapper_button_children {
            position  : absolute;
            bottom    : 4%;
            right     : 4%;
            transform : translate(3px, -50px) rotate(-34deg);
            opacity   : 0;
            animation : animateOpacity .5s forwards !important;
            transition: all .4s;

            @keyframes animateOpacity {
                0% {
                    opacity  : 0;
                    transform: translate(3px, -100px) rotate(-34deg);
                }

                50% {
                    opacity  : 0.5;
                    transform: translate(3px, -60px) rotate(-34deg);
                }

                100% {
                    transform: translate(3px, -50px) rotate(-34deg);
                    opacity  : 1;
                }
            }

            &>button:nth-child(1) {
                padding: 20px 23px;
            }
        }

        &>button {
            position: absolute;
            bottom  : 4%;
            right   : 4%;
        }

        button {
            border          : none;
            border-radius   : 100%;
            padding         : 20px 25px;
            margin          : 0 6px;
            transition      : all .4s !important;
            outline         : none;
            background-color: #000;
            color           : #fff;

            i {
                font-size  : 16px;
                font-weight: 500;
            }

            &:hover {
                background-color: #777;
                color           : #000;
            }

        }
    }

}