.table {
    margin-bottom: 1px;
}

.item {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 1px;
}

.color {
    width: 35px;
    height: 20px;
    border-radius: 4px;
    margin-right: 5px;
}

.icon {
    display: flex;
    align-items: center;
    img {
        width: 40px;
    }
    p {
        margin-left: 4px;
        flex: 1;
    }
}
