// style of components children
.wrapperCreateNew {
    background-color: rgb(99 111 122);

    h2 {
        margin        : 30px auto;
        text-align    : center;
        font-weight   : 700;
        font-family   : 'Times New Roman', Times, serif;
        letter-spacing: 1.2px;
        color         : #fff;
        font-size     : 20px;
        text-transform: uppercase;
    }

    .wrapperForm {
        width           : 50%;
        margin          : auto;
        padding         : 30px;
        background-color: #fff;
        border-radius   : 10px;
        filter          : drop-shadow(2px 5px 13px #333);
        max-height      : 400px;
        overflow        : auto;

        &::-webkit-scrollbar {
            width: .8em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            border-radius   : 10px;
        }

        .wrapper_button {
            display        : flex;
            justify-content: center;

            &>button {
                padding: 0;


                &>a {
                    text-decoration : none;
                    padding         : 10px 30px;
                    color           : #fff;
                    background-color: #2a3f54;
                    border-radius   : 30px;

                    cursor: pointer;

                    &:visited {
                        color: #fff;
                    }
                }
            }
        }
    }
}