.wrapper_menu_section_children {
    display      : flex;
    padding      : 15px 5px;
    border-radius: 8px;
    transition   : background-color .2s !important;
    cursor       : pointer;

    &:hover {
        background-color: #fff;
    }

    &>i {
        color     : #fff;
        font-size : 18px;
        transition: color .2s !important;
    }

    &>i:nth-child(3) {
        font-size  : 12px;
        font-weight: 600;
        align-self : center;
        color      : #ddd;
    }

    &>p {
        color       : #ddd;
        font-size   : 14px;
        padding-left: 20px;
        flex        : 1;
        transition  : color .2s !important;
    }

    &:hover i,
    &:hover p {
        color: #000;
    }

}

//MenuSectionChildrenSecond
.wrapper_children_second {
    padding-left: 20px;
    opacity     : 0;
    animation   : animateOpacity .3s linear 1 normal forwards !important;
    transform   : translateY(-4px);

    @keyframes animateOpacity {
        0% {
            opacity  : 0;
            transform: translateY(-4px);
        }

        100% {
            opacity  : 1;
            transform: translateY(0);
        }
    }
}