.select {
    padding: 8px 10px;
    margin-left: 12px;
    background-color: rgb(24, 105, 255);
    border-radius: 5px;
    border: 1px solid rgb(24, 105, 255);
    color: #fff;
    min-width: 150px;
}
