.wrapper_avatar {

    &>img {
        background-color: #fff;
        border-radius   : 50%;
        box-shadow      : -2px -2px 2px rgba(255, 255, 255, 0.3),
            5px 5px 5px rgba(0, 0, 0, 0.2),
            9px 8px 15px rgba(0, 0, 0, 0.2);
    }
}