.input {
    input {
        position: relative;
        border: 1px solid rgba(187, 187, 187, 0.6);
        border-radius: 8px;
        padding: 8px 24px;
        line-height: 20px;
        font-size: 14px;
        min-height: 52px;
        user-select: none;
        width: 100%;
        background-color: #fff;
    }
    margin-bottom: 24px;
}
