.wrapper_panel_content {

    .wrapper_panel {
        max-height      : 400px;
        overflow        : auto;
        background-color: #2a3f54a6;
        border-radius   : 5px;

        &::-webkit-scrollbar {
            width: .9em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(169, 169, 169, 0.26);
            border-radius   : 10px;
        }

        table {
            width          : 100%;
            border-collapse: collapse;

            th,
            td {
                max-width      : 100px;
                border-bottom  : 1px solid #fff;
                border-collapse: collapse;
                padding        : 5px 10px;
                word-wrap      : break-word;
            }

            thead {
                th {
                    color    : #fff;
                    font-size: .9rem;
                }
            }

            tbody {
                tr {
                    &:hover {
                        background-color: #2a3f54a6;
                    }
                }

                td {
                    text-align: center;
                    color     : #fff;

                    a {
                        text-decoration: none;

                        i {

                            &:visited {
                                color: #fff;
                            }

                            &:active {
                                color: red;
                            }

                            &:hover {
                                color: #ddd;
                            }

                            color      : #fff;
                            margin     : 0 5px;
                            font-size  : 1rem;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
}