.wrapper_panel_content {

    margin: 40px 40px;

    &>button {
        padding: 0;

        &>a {
            text-decoration : none;
            padding         : 10px 30px;
            color           : #fff;
            background-color: #2a3f54;
            border-radius   : 30px;

            cursor: pointer;

            &:visited {
                color: #fff;
            }
        }
    }

    .wrapper_panel {
        max-height      : 400px;
        overflow        : auto;
        background-color: #2a3f541c;
        border-radius   : 5px;

        &::-webkit-scrollbar {
            width: .9em;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(169, 169, 169, 0.26);
            border-radius   : 10px;
        }

        table {
            width          : 100%;
            border-collapse: collapse;

            th,
            td {
                max-width      : 100px;
                border-bottom  : 1px solid #fff;
                border-collapse: collapse;
                padding        : 5px 10px;
                word-wrap      : break-word;
                text-align     : center;
            }

            thead {
                background-color: rgb(51, 50, 50);

                tr {
                    text-align: center;
                }

                th {
                    color    : #fff;
                    font-size: .9rem;
                }
            }

            tbody {
                tr {

                    &:hover {
                        background-color: #2a3f54a6;
                    }
                }

                td {
                    text-align: center;
                    color     : #000;

                    a {
                        text-decoration: none;

                        i {

                            &:visited {
                                color: #fff;
                            }

                            &:active {
                                color: red;
                            }

                            &:hover {
                                color: #ddd;
                            }

                            color      : #000;
                            margin     : 0 5px;
                            font-size  : 1rem;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
}