@import '../../../style/color';

.page {
	min-height      : 100vh;
	display         : flex;
	justify-content : center;
	align-items     : center;
	background-color: #bbb3ff;

	.mainForm {
		width: 100%;

		.form {
			max-width: 450px;
			margin   : 0 auto;

			.textError {
				color: red;
			}
		}

		.title {
			margin-bottom: 20px;
		}

		.input {
			label {
				font-weight: 600;
			}

			input {
				border-radius: 20px;
				padding      : 8px 20px;
			}
		}

		.groupBtn {
			margin-top: 20px;
		}
	}
}