.container {
    position: relative;

    .map_container {
        height: 100vh;

        .wrapper_icon_fullscreen {
            position: absolute;
            z-index: 1000;
            bottom: 1%;
            right: 1%;

            & > i {
                background-color: #fff;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                border: 2px solid rgba(0, 0, 0, 0.103);
                font-size: 15px;
                border-radius: 3px;

                &:hover {
                    background-color: #f9f9f9;
                }
            }
        }
    }

    .icon_layer {
        user-select: none;
        position: absolute;
        z-index: 1000;
        right: 1%;
        top: 3%;
        cursor: pointer;

        i {
            color: rgba(0, 0, 0, 0.781);
            padding: 7px 10px;
            font-size: 20px;
            background-color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 3px #000;

            &:active {
                box-shadow: 0 0 1px #000;
            }
        }
    }
}
